GOOGLE_PLACES_API_KEY=AIzaSyCtkVD68_zqz8cKgl3xzgdeAcmsW9a2vUY
# PostgreSQL (Railway)
# DATABASE_URL=postgresql://postgres:password@host.railway.app:5432/railway
# SQLite (local testing)
DATABASE_URL=postgresql://${{PGUSER}}:${{POSTGRES_PASSWORD}}@${{RAILWAY_PRIVATE_DOMAIN}}:5432/${{PGDATABASE}}
API_PORT=8000
